<div class="road" aria-label="Route de jeu simplifiee en noir et blanc">
  <div class="road-center-line" aria-hidden="true"></div>

  <div class="car" aria-hidden="true">
    <div class="car-window"></div>
    <div class="car-light car-light-left"></div>
    <div class="car-light car-light-right"></div>
    <div class="car-wheel car-wheel-front-left"></div>
    <div class="car-wheel car-wheel-front-right"></div>
    <div class="car-wheel car-wheel-rear-left"></div>
    <div class="car-wheel car-wheel-rear-right"></div>
  </div>
</div>